.topBarBtn{
    display: flex;
    /* align-items: center; */
    justify-content: left;
    margin-left: 3rem;
    width: fit-content;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
  }
  .topBarBtn__icon-container{
    display: flex;
    align-items: center;
  }
  .topBarBtn__icon {
    transform: rotate(90deg);
    margin-right: 0.5rem;
  }
  .topBarBtn__btn{
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font: inherit;
    color: inherit;
    line-height: normal;
    overflow: visible;
    cursor: pointer;
    font-weight: 600;
  }